---
import BaseHead from '../../components/BaseHead.astro';
import { Image } from 'astro:assets';

import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Layout from '../../layouts/Layout.astro'

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Layout
		title="Danilo Diez"
		description="Get to know me"
	 >
			<Header title={SITE_TITLE} />
			<main class="relative pt-48">
				<div class="flex flex-col gap-y-3 mb-4">

				<h1 class="text-3xl md:text-4xl font-semibold">Get in touch!</h1>
				<h2 class="text-2xl font-semibold">
		Let's talk, I'll reply as soon as possible.
				</h2>
				</div>
				<section>
					<form 
		 action="https://docs.google.com/forms/d/e/1FAIpQLSf9KCmsppaRD3668FQ-ymUANi5F0DXaL_5meLACEsk_Oidh5w/formResponse?submit=Submitusp=pp_url"
   class="flex flex-col border-2 border-[#006D5B] w-full rounded-xl p-8 gap-8 dark:bg-[#090909] dark:text-[#FEFCFD]"
   >


						<label class="flex flex-col">
		 					 Name 
							 <input 
			required
			type="text" 
   name="entry.242987927" 
   class="border-2 border-[#006D5B] rounded-md p-2 focus:border-4 focus:ring-0"/>
						</label>
						   
						<label class="flex flex-col">
		  Email
		  <input type="email" name="entry.439707391" 

						required
   class="border-2 border-[#006D5B] rounded-md p-2 focus:border-4 focus:ring-[#006D5B]"/>
						</label>
						<label class="flex flex-col">
		  Message
		  <textarea name="entry.1261725261" 
			  required
   class="border-2 border-[#006D5B] rounded-md p-2 focus:border-4 focus:ring-[#006D5B]"/>

						</label>
						<button class="bg-[#006D5B] p-4 text-[#FEFCFD] rounded-md text-xl font-semibold"> Send </button>
					</form>


				</section>
			</main>

			<Footer />
	</Layout>
</html>
