---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Get to know me"
	pubDate={new Date('September 21 2023')}
>
	<p>
	 I'm a fullstack developer from 🇦🇷, currently traveling the world
	 so I'm not fixed on a particular place.
	 I graduated as a Systems Engineer at the Universidad Tecnologica Nacional university.
	 I work as software engineer at 
	 <a 
	  target="_blank" 
   rel="noopener noreferrer"
	href="https://www.leniolabs.com/"
   >
		LenioLabs
	 </a>.
	
 My daily tasks are frontend development and AI research.
	</p>

	<p>
	 I'm passionate about technology, playing with new tools and 
	 open source. I created several projects that were born out of my 
	 curiosity and eagerness to learn. I use nvim as my main IDE ❤️
	</p>
	<p>

	 My skills include frontend and backend software development, so I can build
	 anything basically from scratch and if I can not, I will learn how to.
	 I'm continually trying to be a better engineer to build stuffs that matter.
	 I also love animals, playing the guitar and being outdoors🏔️🏖️
	</p>

	<h5>Featured Projects</h5>
	<p>
		<b>SalvaPatas</b>
		<br/>
	  Currently working on a mobile app to help to automate and accelerate the
	  abondoned pets to find a home.
	  Building with Next, Prisma and some help of ChatGPT obviously
	</p>
	<p>

		<b>Zona Segura</b>
		<br/>
	  Mobile app that allows users to report and visualize incidents that happened on a particular city 
	  to get information about the security and safeness of that place.
	  Worked and learned a lot about React Native, NodeJs, Geolocalization and AWS

	</p>
	<p>
	 <a 
	  target="_blank" 
   rel="noopener noreferrer"
	href="https://optimizer-pl-io.web.app/home"
   >
   <b>Non Linear Optimizer</b>
	 </a>
		<br/>
	  Non Linear problems calculator and optimizer.
	  We can get complex problems like Gradient optimization solved with this tool
	  Built with React ❤️⚛️
	</p>
	<p>
		<b>Wikipedia Telegram Bot</b>
		<br/>
	  As part of my curiosity I'm searching for things and random data all the time, 
	  I wanted to automate that using Python, Wikipedia data source and Telegram.
	</p>
	<p>
		<b>LLM data retrieval from Neo4J DB</b>
		<br/>
	  The idea is to build autonomous agents that can retrieve information from a graph database
	  to ask user questions, if there is not enough info, we could provide that info and
	  then translate that to Graph schemas to populate the AI memory
	</p>
	<h5>Experience</h5>
	<p><b>Software engineer - LenioLabs (2021 - Present):</b>
	 Working for ICE Technologies client, building microfrontend architectures app and active contributing
	 to Artificial Intelligence projects and researchs.
	</p>
	<p><b>Software Developer - 42Mate (2020 - 2021):</b>
	 Worked for History Channel, migrating and improving their previous content site with Drupal (I know, but I said I can learn anything, right?) React and
	 MySQL.
	</p>
	<p><b>IT Admin- Corralon Casia (2017 - 2018):</b>
	 Worked as the IT guy for the Warehouse. Was in charge of the database and I automated the 
	 sales process using Python.
	</p>

	<h5>Talks</h5>
	 <a 
	  target="_blank" 
   rel="noopener noreferrer"
   href="https://www.facebook.com/watch/live/?extid=WA-UNK-UNK-UNK-IOS_GK0T-GK1C&mibextid=afzh1R&ref=watch_permalink&v=284661967371394"
   >
   <b>Introduction to AI and LLMs</b>
	 </a>
: I talked about AI and Large Language models in the context of education for my formal high school.
<p>

	<h5>Skills</h5>
	<ul>
		<li>Javascript</li>
		<li>Python</li>
		<li>PHP</li>
		<li>C</li>
		<li>Rust</li>
		<li>CSS</li>
		<li>HTML</li>
		<li>MySQL</li>
		<li>PostgreSQL</li>
		<li>MongoDB</li>
		<li>AWS</li>
		<li>Jenkins</li>
		<li>Docker</li>
	</ul>

</p>


</Layout>
