---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<script async src="http://localhost:8000/assistant-script.js?siteId=e0dc6f84-5d9c-43cb-b575-2c830f4ba5ea"></script>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🚀 Hi there, I'm Danilo!</h1>
			<p>
			   Welcome to my blog.
			   Writing and breaking code, trying to document the journey
			</p>
		</main>
		<Footer />
	</body>
</html>
