---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeToggle from '../components/ThemeToggle.astro'
---

<header >
	<nav class="flex fixed w-full z-50 items-center justify-between shadow-navbar py-8 md:px-24 px-8 bg-[#FEFCFDB2] dark:bg-[#090909] dark:text-[#FFF]">
		<h2 class="font-bold text-lg md:text-2xl"><a href="/">{SITE_TITLE}</a></h2>
		<div class="flex gap-x-4">
			<HeaderLink href="/">About me</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<ThemeToggle />	
		</div>
	</nav>
</header>
