---
import Javascript from "./icons/Javascript.astro"
import React from "./icons/React.astro"
import Css from "./icons/Css.astro"
import Html from "./icons/Html.astro"
import Python from "./icons/Python.astro"
import Rust from "./icons/Rust.astro"

import Mysql from "./icons/Mysql.astro"
import Aws from "./icons/Aws.astro"
import Docker from "./icons/Docker.astro"
import Mongo from "./icons/Mongo.astro"
import Postgresql from "./icons/Postgresql.astro"
import Next from "./icons/Next.astro"

---

<div class="flex flex-col items-center justify-center gap-y-6 my-8">
    <!-- First row of icons with responsive breakpoint adjustment -->
    <div class="flex flex-wrap gap-x-6 justify-center gap-y-6 lg:gap-y-0">
        <div class="w-1/3 md:w-auto">
            <Javascript />
        </div>
        <div class="w-1/3 md:w-auto">
            <React />
        </div>
        <div class="w-1/3 md:w-auto">
            <Css />
        </div>
        <div class="w-1/3 md:w-auto">
            <Html />
        </div>
        <div class="w-1/3 md:w-auto">
            <Python />
        </div>
        <div class="w-1/3 md:w-auto">
            <Next />
        </div>
    </div>
    <!-- Second row of icons with responsive breakpoint adjustment -->
    <div class="flex flex-wrap gap-x-6 justify-center gap-y-6 lg:gap-y-0">
        <div class="w-1/3 md:w-auto">
            <Rust />
        </div>
        <div class="w-1/3 md:w-auto">
            <Mysql />
        </div>
        <div class="w-1/3 md:w-auto">
            <Docker />
        </div>
        <div class="w-1/3 md:w-auto">
            <Mongo />
        </div>
        <div class="w-1/3 md:w-auto">
            <Postgresql />
        </div>
        <div class="w-1/3 md:w-auto">
            <Aws />
        </div>
    </div>
</div>
