---
---
<button type="button" id="theme-selector">
  <span class="sr-only">Enable <span class="dark:hidden">light</span><span class="hidden dark:inline">dark</span> mode</span>
    <svg width="46" height="45" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg" class="hidden dark:inline">
      <path d="M16.5563 4.44791C9.99375 5.16249 4.875 10.7333 4.875 17.5C4.875 20.981 6.25781 24.3194 8.71922 26.7808C11.1806 29.2422 14.519 30.625 18 30.625C24.7521 30.625 30.3229 25.5208 31.0521 18.9583C31.1833 17.8062 29.9146 16.8875 28.8062 17.5729C27.6158 18.3328 26.2429 18.7587 24.8314 18.8061C23.4199 18.8536 22.0215 18.5207 20.7828 17.8424C19.544 17.1641 18.5102 16.1654 17.7898 14.9506C17.0693 13.7359 16.6886 12.3498 16.6875 10.9375C16.6875 9.39166 17.1396 7.93333 17.9125 6.72291C18.5687 5.74583 17.8542 4.34583 16.5563 4.44791Z" fill="#FEFCFD"/>
    </svg>

    <svg class="dark:hidden" width="46" height="45" viewBox="0 0 46 45" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M23.0002 32.7082C23.3574 32.7082 23.7021 32.8394 23.9691 33.0767C24.236 33.3141 24.4065 33.6411 24.4483 33.9959L24.4585 34.1665V35.6248C24.4581 35.9965 24.3158 36.354 24.0606 36.6243C23.8054 36.8946 23.4567 37.0573 23.0856 37.079C22.7146 37.1008 22.3492 36.9801 22.0642 36.7415C21.7791 36.503 21.596 36.1646 21.552 35.7955L21.5418 35.6248V34.1665C21.5418 33.7797 21.6955 33.4088 21.969 33.1353C22.2425 32.8618 22.6134 32.7082 23.0002 32.7082ZM32.2066 29.6603L32.3437 29.7813L33.3645 30.8021C33.6261 31.0646 33.7779 31.4167 33.7893 31.7871C33.8006 32.1574 33.6705 32.5182 33.4254 32.7961C33.1804 33.074 32.8387 33.2482 32.4699 33.2833C32.1011 33.3185 31.7327 33.2119 31.4396 32.9853L31.3025 32.8642L30.2816 31.8434C30.03 31.5922 29.8788 31.2577 29.8565 30.9028C29.8342 30.5479 29.9423 30.1971 30.1605 29.9163C30.3787 29.6356 30.692 29.4442 31.0414 29.3783C31.3909 29.3123 31.7523 29.3763 32.0579 29.5582L32.2066 29.6603ZM15.7187 29.7813C15.9698 30.0324 16.1206 30.3665 16.1429 30.7209C16.1652 31.0753 16.0574 31.4257 15.8398 31.7063L15.7187 31.8434L14.6979 32.8642C14.4354 33.1258 14.0833 33.2776 13.7129 33.2889C13.3426 33.3002 12.9818 33.1701 12.7039 32.9251C12.426 32.68 12.2518 32.3384 12.2167 31.9696C12.1815 31.6007 12.2881 31.2323 12.5148 30.9392L12.6358 30.8021L13.6566 29.7813C13.9301 29.5079 14.301 29.3543 14.6877 29.3543C15.0744 29.3543 15.4452 29.5079 15.7187 29.7813ZM11.3335 21.0415C11.7052 21.0419 12.0627 21.1842 12.333 21.4394C12.6033 21.6946 12.7659 22.0433 12.7877 22.4144C12.8095 22.7854 12.6888 23.1508 12.4502 23.4358C12.2116 23.7209 11.8732 23.9041 11.5041 23.948L11.3335 23.9582H9.87517C9.50348 23.9578 9.14596 23.8154 8.87568 23.5603C8.6054 23.3051 8.44275 22.9564 8.42097 22.5853C8.39918 22.2142 8.51991 21.8489 8.75848 21.5638C8.99705 21.2788 9.33545 21.0956 9.70455 21.0517L9.87517 21.0415H11.3335ZM36.1252 21.0415C36.4969 21.0419 36.8544 21.1842 37.1247 21.4394C37.395 21.6946 37.5576 22.0433 37.5794 22.4144C37.6012 22.7854 37.4804 23.1508 37.2419 23.4358C37.0033 23.7209 36.6649 23.9041 36.2958 23.948L36.1252 23.9582H34.6668C34.2951 23.9578 33.9376 23.8154 33.6673 23.5603C33.3971 23.3051 33.2344 22.9564 33.2126 22.5853C33.1908 22.2142 33.3116 21.8489 33.5501 21.5638C33.7887 21.2788 34.1271 21.0956 34.4962 21.0517L34.6668 21.0415H36.1252ZM14.5608 12.0144L14.6979 12.1355L15.7187 13.1563C15.9803 13.4187 16.1321 13.7709 16.1434 14.1412C16.1547 14.5116 16.0247 14.8723 15.7796 15.1502C15.5346 15.4282 15.1929 15.6024 14.8241 15.6375C14.4552 15.6726 14.0868 15.5661 13.7937 15.3394L13.6566 15.2184L12.6358 14.1975C12.3851 13.9462 12.2347 13.6121 12.2127 13.2578C12.1907 12.9036 12.2987 12.5534 12.5165 12.2731C12.7342 11.9927 13.0467 11.8014 13.3954 11.735C13.7441 11.6686 14.1051 11.7316 14.4106 11.9123L14.5608 12.0144ZM33.3645 12.1355C33.6156 12.3866 33.7665 12.7207 33.7888 13.0751C33.811 13.4295 33.7033 13.7799 33.4856 14.0605L33.3645 14.1975L32.3437 15.2184C32.0813 15.4799 31.7291 15.6318 31.3588 15.6431C30.9884 15.6544 30.6277 15.5243 30.3498 15.2793C30.0719 15.0342 29.8976 14.6926 29.8625 14.3237C29.8274 13.9549 29.9339 13.5865 30.1606 13.2934L30.2816 13.1563L31.3025 12.1355C31.5759 11.8621 31.9468 11.7085 32.3335 11.7085C32.7202 11.7085 33.0911 11.8621 33.3645 12.1355ZM23.0002 7.9165C23.3574 7.91655 23.7021 8.04769 23.9691 8.28505C24.236 8.5224 24.4065 8.84947 24.4483 9.20421L24.4585 9.37484V10.8332C24.4581 11.2049 24.3158 11.5624 24.0606 11.8327C23.8054 12.1029 23.4567 12.2656 23.0856 12.2874C22.7146 12.3092 22.3492 12.1884 22.0642 11.9499C21.7791 11.7113 21.596 11.3729 21.552 11.0038L21.5418 10.8332V9.37484C21.5418 8.98806 21.6955 8.61713 21.969 8.34364C22.2425 8.07015 22.6134 7.9165 23.0002 7.9165ZM23.0002 15.2082C24.4289 15.2081 25.8261 15.6277 27.0184 16.4149C28.2106 17.2022 29.1453 18.3223 29.7064 19.6362C30.2675 20.9501 30.4302 22.3999 30.1744 23.8055C29.9186 25.2111 29.2555 26.5106 28.2674 27.5425C27.2794 28.5745 26.0099 29.2935 24.6168 29.6101C23.2236 29.9268 21.7681 29.8272 20.4311 29.3238C19.094 28.8203 17.9343 27.9352 17.0961 26.7782C16.2578 25.6213 15.7778 24.2436 15.7158 22.8163L15.7085 22.4998L15.7158 22.1834C15.7973 20.3061 16.6004 18.5328 17.9576 17.2333C19.3147 15.9338 21.1212 15.2083 23.0002 15.2082Z" fill="#090909"/>
    </svg>

</button>

<script>
    const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
      return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  window.localStorage.setItem('theme', theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");

    const isDark = element.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  }
  document.getElementById("theme-selector")?.addEventListener("click", handleToggleClick);

</script>
