---
import '@fontsource/dm-sans';
import SideDecoration from '../components/icons/SideDecoration.astro'
---

<body class="relative dark:bg-[#090909] dark:text-[#FEFCFD]">

				<SideDecoration />

<slot /></body>
